
.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
/* Text Center */
.text-center{
    text-align: center;
}
/* colors */
.second-bg{
    background-color: #fff8f3;
}
.colors-1{
color: #474747;
}
.btn-p{
    background-color: #FD6E0A ;
    font-weight: bold;
    font-size: 20px;
    color: white;
    border: none;
    padding: 18px 35px;
    border-radius: 5px;
}
.section-title{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
}
.section-description{
    font-size: 18px;
    color: #757575;
}
/* Header */
.header{
    background-image: url(../images/developer.png), url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}
/* nav */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 120px;
}
.name-title{
    font-weight: 800;
    font-size: 45px;
}
nav ul{
    display: flex;
    align-items: center;
}
nav ul li {
    list-style: none;
    margin-right: 50px;
}
nav li a {
    text-decoration: none;
    font-size: 20px;
}
/* Banner */
.banner{
    display: flex;
    justify-content: space-between;
    margin: 0 35px 0 200px;
}
.banner-cont{
   max-width: 580px;
}

.bn-hi{
    font-size: 45px;
    font-weight: 600;
    margin: 5px;
}
.bn-nazmul{
    font-size: 60px;
    font-weight: bold;
    margin: 0;
    
}
.banner-description{
    font-size: 18px;
}
.bn-profile-ph{
    width: 580px;
}
/* Main */
main{
    max-width: 1140px;
    margin: 0 auto;
}
/* About */
.about{
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;
    margin-top: 130px;
}
.about-items{
    display: flex;
    justify-content: space-around;
}
.item-description{
    font-weight: 600;
}
/* Skill */
.skills-contan{
    display: flex;
    gap: 24px;
}
.skill{
    padding: 30px ;
    border-radius: 5px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}
/* Resume Section */
.resume-container{
    display: flex;
    gap: 24px;
}
.experience-sub-title{
  font-size: 20px;
  font-weight: 600;
}
.experience-description, .experience-sub-title{
    color: #757575;
}
.resume-btn-download{
    margin-top: 50px;
}
/* Footer */
footer{
    padding: 130px 230px;
    display: flex;
    gap: 100px;
}
.footer-colum{
    width: 50%;
}

footer input[type="text"], footer input[type="email"], footer textarea{
    height: 64px;
    border-radius: 5px;
    background-color: white;
    display: block;
    width: 100%;
    padding: 10px 20px;
    margin-bottom: 24px;
    border: none;
}